/* css style overrides of MUI theme/component that are specific to the Dashboard and Profile pages */

.valueImage {
    width: 150px;
    height: 150px;
    margin-right: 15px;
  }
  
  .cardWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cardRecipient {
    font-style: italic;
    margin-top: 10px;
  }
  
  .cardMain {
    display: flex;
    flex-direction: row;
  }
  
  .cardGuts {
    width: 90%;
  }
  
  .userLink {
    text-decoration: none;
    color: #0b4ea2;
  }
  
  .cardActions {
    justify-content: flex-end;
    padding: 0;
  }

  .commentWrapper {
    padding: 0;
  }

  .nominationComment {
    width: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #88b9f7;
    padding: 5px;
    
  }

  .commentBody {
    margin: 0;
    padding: 5px 0 0 0;
    font-style: italic;
    font-size: .9rem;
    width: 90%;
  }
  
.commentGrid {
  display: flex;
  flex-direction: row;
}

.deleteComment {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

  .cardGrid {
    direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
  }
  
  .profileCardHeader {
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .profileContainer {
    display: flex;
    flex-direction: row;
    width: 70vw;
    padding: 0;
  }
  
  .profileButton {
    border: none;
    padding: 0;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 200px;
  }
  
  .profileImage {
    width: 100px;
    height: 100px;
  }
  
  .profileCardTagline {
    padding: 0;
    margin-top: 20px;
    display: inline-flex;
    flex-direction: row;
    border: none;
    font-style: italic;
  }
  
  .profileNominationCard {
    border: 2px solid #9da7ae;
    width: 100%;
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
  }
  
  .profileNominationsSubtitle:last-child {
    font-style: italic;
    padding-left: 0;
    padding-bottom: 8px;
  }
  
  .profileCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
  }
  
  .noCards {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }
  
  /* Adjustments for smaller screens */
  @media screen and (max-width: 900px) {
    .profileContainer,
    .nominationCard,
    .profileCards {
      width: 80vw;
    }
  
    .valueImage {
      width: 75px;
      height: 75px;
    }
  }
  
  /* Adjustments for even smaller screens */
  @media screen and (max-width: 600px) {
    .valueChip {
      display: none;
    }
  
    .profileCardHeader,
    .nominationCardHeader,
    .profileContainer,
    .profileButton {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .profileButton {
      margin-top: -20px;
    }
  
    .valueImage {
      display: none;
    }

  }