/* This file is for styling for specific elements outside of the MUI theme */


.cardGrid {
  direction: column;
  align-items: center;
  justify-content: center;
}

.profileCardHeader {
  border: none;
}

.profileBioContainer {
  display: block;
  border: none;
  padding: 0;
}

.profileCardBio {
  margin: 0;
  display: inline-flex;
  flex-direction: row;
  max-width: 50%;
  border: 3px solid #0b4ea2;
  border-radius: 4px;
}
