/* This file is for styling for specific elements outside of the MUI theme */


/* Dashboard */

.cardContainer {
  display: "flex";
  flex-direction: "column";
  align-items: "center";
}

.cardComment {
  justify-content: flex-end;
}

@media screen and (max-width: 640px) {
  .cardHeader {
    flex-direction: column;
    align-items: flex-start;
  }
}


/* Profile */

.cardGrid {
  direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.profileCardHeader {
  border: none;
  }

@media screen and (max-width: 640px) {
  .profileCardHeader {
    flex-direction: column;
    align-items: flex-start;
  }
}

.profileButton {
  justify-content: flex-end;
}

.profileCardTagline {
  padding: 0;
  margin-top: 2rem;
  display: inline-flex;
  flex-direction: row;
  border: none;
  font-style: italic;
}