/* This file is for styling for specific elements outside of the MUI theme */


/* Dashboard */

.cardContainer {
  display: "flex";
  flex-direction: "column";
  align-items: "center";
}

.cardComment {
  justify-content: flex-end;
}

@media screen and (max-width: 640px) {
  .cardHeader {
    flex-direction: column;
    align-items: flex-start;
  }
}


/* Profile */

.cardGrid {
  direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.profileCardHeader {
  border: none;
  }

@media screen and (max-width: 640px) {
  .profileCardHeader {
    flex-direction: column;
    align-items: flex-start;
  }
}

.profileButton {
  justify-content: flex-end;
}

.profileCardTagline {
  padding: 0;
  margin-top: 2rem;
  display: inline-flex;
  flex-direction: row;
  border: none;
  font-style: italic;
}


/* Temp styling for popup */



.modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal_content {
  background-color: white;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;

}

.close {
  color: Black;
  float: right;
}

.close:hover {
  color: cyan;
  cursor: pointer;
}

.cardForm {
  display: flex;
  flex-direction: column;
}



.formRow {
  display: flex;
  flex-direction: row;
}

.formColumn {
  display: flex;
  flex-direction: column;
  width: 50%;

}