/* css style overrides of MUI theme/component that is specific to the Login page */

.loginBox {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .loginLogo {
    margin-bottom: 24px;
  }